<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swiftjson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>swiftjsonTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A20CEF911CDC32E200607465</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A20CEF9A1CDC32E200607465</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A20CEFAE1CDC350100607465</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2A4B66F1CD21D6D00546326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2A4B6811CD221FE00546326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
